<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>CO2 emission</title>
</head>

<body>
    <div class="Wrapper">
        <h1 class="Title">Find out your total <b>CO2 emission</b> on Ethereum network</h1>
        <form action="/calculate" method="post" class="Input">
            <input type="text" id="public_key" class="Input-text" name="public_key" placeholder="your public key">
            <label for="input" class="Input-label">Public key</label>
            <button type="submit" class="Button">Calculate</button>
        </form>
    </div>
</body>

</html>